#copyright {
  bottom: 2px;
  color: gray;
  position: absolute;
  text-align: center;
  width: 100%;
}
#getStart {
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 0 0 10px gray;
  width: 100%;
}
